body {
    font-family: Arial;
    text-align: center;
    background-color: #f2f2f2;
    padding-top: 50px;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
}
